*{
    margin: 0px;
    padding: 0%;
}

.navbar{
    height: 11.55%;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
    /* border-bottom: 1px solid black; */
    box-shadow: inset 0 2px 8px rgba(1, 0, 0, 0.7);
}
    

.logo{
    height: 80%;
    width: 10%;
    /* background-color: darkgreen; */
    display: flex;
    align-items: center;
}

.location{
    height: 90%;
    width: 12%;
    /* background-color: chocolate; */
    display: flex;

}

.loclogo{
    height: 90%;
    width: 10%;
    /* background-color: yellow; */
    /* display: flex;
    align-items: center; */
    margin-top: 9px;
}

.locdef{
    height: 95%;
    width: 100%;
    /* background-color: violet; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

.searchicon{
    height: 90%;
    width: 15%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.categories{
    height: 90%;
    width: 40%;
    /* background-color: cyan; */
    display: flex;
    align-items: center;
}

.welcome{
    height: 7%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.current{
    height: 52%;
    width: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 12px;
}

.images{
    height: 75%;
    width: 81%;
    /* background-color: darkred; */
    display: flex;
    gap: 20px;
    justify-content: center;
    /* align-items: end; */
    /* flex-direction: column; */
}

.images img{
    border-radius: 15px;
}

.writtings1{
    height: 10%;
    width: 100%;
    /* background-color: chocolate; */
    margin-bottom: 8px;
    
}

.writtings1 h3 {
    font-weight: 600;
    margin-left: 200px;
}

.writtings1 h4 {
    font-weight: 600;
    margin-left: 200px;
}

.img p{
    font-weight: 500;
    font-size: small;
}

.logos{
    height: 95%;
    width: 80%;
    /* background-color: peru; */
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-gap: 16px 2.96vw;
    margin-left: 150px;
}

.logosimg{
    height: 90%;
    width: 65%;
    /* background-color: royalblue; */
    /* gap: 10px; */
}

.banners{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.logosimg h4{
    font-weight: 500;
    font-size: medium;
    text-align: center;
}

.images1{
    height: 50%;
    width: 100%;
    /* background-color: crimson; */
    display: flex;
    gap: 30px;
    /* margin-left: 40px; */
    justify-content: center;
}

.images1 img{
    border-radius: 15px;
}

.banner2nd{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.writtings2{
    height: 10%;
    width: 100%;
    /* background-color: sienna; */
    /* margin-left: 180px; */
    margin-top: 15px;
}

.muttonsection{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    /* background-color: cadetblue; */
}
.muttonsection img{
    border-radius: 15px;
}
.writtings3{
    height: 10%;
    width: 100%;
    /* background-color: sienna; */
    /* margin-left: 180px; */
    margin-top: 15px;
}

.customerfavoritesection{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.customerfavoritesection img{
    border-radius: 15px;
}

.writtings3 h3{
    margin-left: 180px;
}

.writtings3 h4{
    margin-left: 180px;
}

.writtings2 h3{
    margin-left: 180px;
}

.writtings2 h4{
    margin-left: 180px;
}

.writtings4 h3{
    margin-left: 180px;
    margin-top: 20px;
}

.writtings4 h4{
    margin-left: 180px;
    margin-bottom: 20px;
}

.customerspeakssection{
    height: 45%;
    width: 100%;
    /* background-color: teal; */
    gap: 30px;
    display: flex;
    justify-content: center;
}

.customerfeedback{
    height: 38%;
    width: 100%;
    background-color: #fdf3f6;
    display: flex;
    justify-content: center;
    gap: 30px;
    /* margin-top: 20px; */
}

.feedback1{
    height: 246px;
    width: 360px;
    /* background-color: blue; */
    /* background-color: #fdf3f6; */
    margin-top: 50px;
}

.feedback2{
    height: 246px;
    width: 360px;
    /* background-color: blue; */
    margin-top: 50px;
}

.feedback3{
    height: 246px;
    width: 360px;
    /* background-color: blue; */
    text-align: start;
    /* width: 1000px; */
    margin-top: 50px;
}
.feedback3 h4{
    text-align: start;
    width: 300px;
    margin-top: 10px;
    font-weight: 200;
    line-height: 25px;
    font-size: 14px;
}

.feedback2 h4{
    text-align: start;
    width: 300px;
    margin-top: 10px;
    font-weight: 200;
    line-height: 25px;
    font-size: 14px;
}

.feedback1 h4{
    text-align: start;
    width: 300px;
    margin-top: 10px;
    font-weight: 200;
    line-height: 25px;
    font-size: 14px;
}

.feedback1 h3{
    font-weight: 600;
    font-size: 16px;
}

.feedback2 h3{
    font-weight: 600;
    font-size: 16px;
}

.feedback3 h3{
    font-weight: 600;
    font-size: 16px;
}

.liciousfooter img{
    height: 100px;
    width: 150px;
    margin-left: 180px;
}

.contactinfo{
    height: 50%;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    gap: 20px;
    justify-content: center;
}

.section1{
    height: 95%;
    width: 23%;
    /* background-color: darkgreen; */
}

.section2{
    height: 95%;
    width: 12%;
    /* background-color: darkgreen; */
}

.section3{
    height: 95%;
    width: 18%;
    /* background-color: darkgreen; */
}

.section4{
    height: 95%;
    width: 28%;
    /* background-color: darkgreen; */
}

.section1 h4{
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}

.section2 h3{
    font-size: 14px;
    margin-top: 10px;
}

.section3 h3{
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
}

.section4 h4{
    font-size: 14px;
    font-weight: 700;
    /* margin-top: 10px; */
}

.section3 h4{
    font-weight: 500;
}

.section4 h4{
    font-weight: 500;
    /* margin-top: 10px; */
}

.section2 h4{
    font-weight: 500;
}

.section4 h3{
    margin-top: 10px;
    font-size: 14px;
}

.citieserving{
    height: 60%;
    width: 100%;
    background-color: #fdf3f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cities{
    height: 47%;
    width: 80%;
    /* background-color: saddlebrown; */
}
.onlinedelivery{
    height: 47%;
    width: 80%;
    /* background-color: mediumseagreen; */
    margin-top: 10px;
}

.cities button{
    width: 130px;
    height: 40px;
    border-radius: 20px;
    gap: 20px;
    background-color: white;
    border: 1px solid #eee;
}

.onlinedelivery button{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #eee;
}

.popularsearch{
    height: 85%;
    width: 100%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
}

.search p{
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
}
.search{
    height: 80%;
    width: 75%;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    align-items: start;
}

.footer{
    height: 30%;
    width: 100%;
    background-color: #464646;
    display: flex;
    align-items: center;
}

.footer p{
    font-size: 13px;
    font-weight: 500;
    width: 1500px;
    text-align: center;
    color: white;
    line-height: 25px;
}
